@use "../utils" as *;

/*====================
57. Event css 
======================*/

.event {
  &-item {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 15px;
    background: var(--color-white);
    border-radius: 30px;
    margin-bottom: 25px;
    box-shadow: var(--box-shadow);
    transition: var(--transition);

    @media #{$max-1199} {
      flex-direction: column;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }

  &-img {
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 250px;
      height: 220px;
      object-fit: cover;
      border-radius: 20px;

      @media #{$max-1199} {
        width: 100%;
      }
    }

    &:hover .event-img img {
      transform: scale(1.2);
    }
  }

  &-content {
    flex: 1;

    .theme-btn {
      margin-top: 15px;
      padding: 9px 18px;
      font-size: 15px;
    }
  }

  &-meta ul {
    display: flex;
    gap: 15px;

    li i {
      color: var(--theme-color);
      margin-right: 7px;
    }
  }

  &-title {
    margin: 5px 0;

    a {
      color: var(--color-dark);

      &:hover {
        color: var(--theme-color);
      }
    }
  }
}

/*====================
58. Event single css 
======================*/
.event {
  &-details {
    img {
      border-radius: 20px;
    }
  }
  &-map {
    margin-bottom: 20px;

    iframe {
      border-radius: 15px;
      height: 400px;
      width: 100%;
    }
  }

  &-content-single {
    margin-bottom: 20px;

    h5 {
      margin-bottom: 5px;
      font-size: 16px;

      a {
        color: var(--color-dark);
      }
    }

    i {
      color: var(--theme-color);
      margin-right: 5px;
    }
  }

  &-single-info {
    background: var(--color-white);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: var(--box-shadow);

    h4 {
      color: var(--color-dark);
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  &-author {
    background: var(--color-white);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: var(--box-shadow);

    &-info {
      @include flex(center);
      flex-direction: column;
      gap: 15px;
      text-align: center;
      margin-top: 50px;

      h5 {
        font-size: 20px;
      }

      img {
        width: 120px;
        border-radius: 50%;
      }
    }
  }
}
